<p-table [value]="cryptos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Logo</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>% 7d</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-crypto>
        <tr *ngIf="crypto.status === 'active'; else noDisplay">
            <td><img [src]="crypto.logo_url" alt="logoCrypto"></td>
            <td>{{ crypto.id }}</td>
            <td>{{ crypto.name }}</td>
            <td>{{ crypto.price }}$</td>
            <td>{{ crypto["7d"].price_change_pct }}%</td>
            <td><a href="detalle/{{crypto.id}}">Ver mas...</a></td>
        </tr>
        <ng-template #noDisplay>

        </ng-template>
    </ng-template>
</p-table>