<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar">
  <a href="" class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Cryptofinder</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column">
    <li class="mb-1">
      <a href="" class="nav-link active">
        Busqueda libre
      </a>
    </li>
    <li class="mb-1">
      <a href="#" class="nav-link active">
        Busqueda por cryptomoneda
      </a>
    </li>
  </ul>
  <hr>

</div>
